[Unit]
Description=AGS/Astal Shell
After=graphical-session.target
StartLimitIntervalSec=60

[Service]
Type=simple
ExecStart=ags run
Restart=always
RestartSec=2
StartLimitBurst=10

[Install]
WantedBy=default.target 