configuration {
    modi: "combi,calc,emoji";
    combi-modi: "window,drun";
    show-icons: true;
    icon-theme: "Papirus";
    terminal: "ghostty";
    display-drun: "";
    display-window: "";
    drun-display-format: "{name} [<span weight='light' size='small'><i>({generic})</i></span>]";
    window-format: "{t}";

    kb-element-next: "";
    kb-element-previous: "";
    kb-mode-next: "Tab";
    kb-mode-previous: "Shift+Tab";
}

@theme "theme"
